h1{
  font-size: 5.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center; 
}

.entireCalculator{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -38.5rem;
    margin-left: -28.5rem; 
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    /* margin: auto; */
    margin-top: 5rem;
    margin-left: 3rem;
}

.odds,
.stakes,
.budget {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.budget {
    margin-left: auto;
    margin-right: 50px;
    margin-bottom: 0px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input {
    margin-left: 10px;
    padding: 12.5px;
    border: 1px solid #1a1430;
    border-radius: 8px;
    background-color: #443C68;
    color: #fff;
    transition: 0.3s;
}

input:disabled {
    background-color: rgba(89, 78, 136, 0.2);
    transition: 0.3s;
}

::placeholder{
    color: #d4d3d38e;
}

button {
    align-self: center; /* Center the submit button in the middle */
    margin-left: 115px;
    margin-top: 10px; /* Add some spacing between the budget and the submit button */
    padding: 12.5px;
    background-color: #533fa5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:disabled {
    background-color: rgba(84, 63, 166, 0.3);
    cursor: not-allowed;
    transition: 0.3s;
}

.budget_image {
    align-self: center;
    margin-left: 115px;
}

.form_image{
    opacity: 0.75;
}

.red_dice {
    margin-left: 12px;
}

.red_stake {
    margin-left: 7px;
}
 
.blue_dice {
    margin-left: -4px;
    margin-right: 4px; 
    opacity: 0.85;
} 

.blue_stake {
    margin-left: 3px;
    margin-right: -3px;
    opacity: 0.85;
}

.arb_yes {
    background-color: rgba(0, 255, 0, 0.1);
    transition: 0.4s;
}

.arb_no {
    background-color: rgba(255, 0, 0, 0.1);
    transition: 0.4s;
}

.summary {
    border: 2px solid white;
    border-radius: 1.1rem;
    padding: 10px;
    margin-top: 4rem; 
    transition: 0.4s;
}

.summary h3, p, .spacing {
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
}

.summary p {
    text-align: center;
    font-size: 1.8rem;
    margin: .8rem;
}

.summary .spacing {
    margin: 2rem auto;
    width: 60%;
}
