h1{
    font-size: 5.4rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    padding: 12rem 0rem 5rem 0rem;
}

h3{
    font-size: 2.6rem;
    font-weight: 550;
    line-height: 1.2;
    margin: 5rem;
    text-align: center; 
}

table{
    margin: 0 auto;
    border-radius: 1.1rem;
    box-shadow: 0 0 0 1px #443C68;
    overflow: hidden;
    max-width: 150rem;
}

table,tr{
    border-collapse: collapse;
    border: 1px solid #443C68;
}

li, p, a, td{
    font-size: 1.6rem;
    line-height: 1.6;
}

thead {
    font-size: 1.8rem;
    background-color: #0c071d;
}

tbody {
    font-size: 1.4rem;
    text-align: center;
    background-color: #1a1430;
    white-space: pre-line;
}

th,td {
    padding: 1.7rem;
    line-height: 1.7;
}

tr{
    transition: 0.2s;
}

tr:hover {
    background-color: #443C68;
    opacity: 0.8;
    transition: 0.2s;
}

.sort-button {
    background-color: transparent;
    border: 2rem;
    color:#fff;
    margin:0rem -1rem 0rem -1rem;
    font-size: 1.5rem;
    transition: 0.2s;
}

.sort-reverse{
    transform: rotate(180deg);
    transition: 0.2s;
}

.calculatorButton {
    background-color: transparent;
    border: 0;
    margin: 0rem -2.5rem 0rem 0rem;
    transition: 0.3s;
}

.calculatorButton:hover {
    opacity: 0.7;
    transition: 0.3s;
}